@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

html,
body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "游ゴシック", "Yu Gothic",
    "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック",
    "MS P Gothic", sans-serif;
  color: #111;
  font-size: 15px;
  line-height: 2em;
}

.theme-content {
  max-width: 700px;
  width: calc(100vw - 40px);
  margin: auto;

  a {
    color: #0074e4;
    text-decoration: none;

    &:hover {
      color: #0074e4;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 2.2rem;
    line-height: 1.4em;
    margin-top: 3em;
  }

  h2 {
    font-size: 1.65rem;
    margin-top: 2em;
  }

  * > .header-anchor {
    margin-left: -0.87em;
    padding-right: 0.05em;
    font-size: 0.85em;
    margin-top: 0.125em;
    opacity: 0;
    color: #888;
  }

  *:hover > .header-anchor {
    opacity: 1;
  }

  img {
    width: 100%;
    margin: 30px auto;
  }

  figure {
    margin: 30px auto;

    img {
      margin: 0;
    }
  }

  figcaption {
    font-size: 0.85em;
  }

  .table-of-contents {
    background-color: #eee;
    margin: 20px 0;
    padding: 15px;
    border-top: 5px solid #888;

    a {
      color: #333;
      font-weight: bold;
    }
  }

  blockquote {
    margin: 0.5em;
    padding: 0.1px 1em;
    background-color: #eee;
  }

  *:not(li) > blockquote {
    margin: 2em 0;
    padding: 1em 2em;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  thead {
    background-color: #eee;
  }

  th,
  td {
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
  }

  code {
    font-family:
      source-code-pro,
      Menlo,
      Monaco,
      Consolas,
      Courier New,
      monospace;
  }

  .footnotes-sep {
    height: 1px;
    margin-top: 3em;
    background-color: #ccc;
    border: none;
  }

  .footnotes {
    font-size: 0.8rem;
    line-height: 2em;
  }

  .footnotes-list {
    padding: 0 0 0 2rem;
  }

  .footnote-item p:first-child {
    margin-top: 0;
  }
}

// Inline code
:not(pre) > code {
  background-color: #eee;
  border-radius: 4px;
  padding: 3px 6px;
}

// Code block
[class*="language-"] {
  position: relative;
  background-color: #333;
  border-radius: 8px;
  margin: 1em 0;
  padding: 0.5em 1em;
  text-align: left;
  font-size: 0.9em;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  overflow-x: auto;

  button.copy {
    appearance: none;
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 4px;
    background-color: rgba(127, 127, 127, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease 0s;

    &::before {
      content: "Copy";
      display: inline;
    }

    &.copied {
      background-color: rgba(127, 127, 127, 0.8);
      &::before {
        content: "Copied";
      }
    }
  }

  .lang {
    position: absolute;
    top: 2px;
    right: 15px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    transition: opacity 0.3s ease 0s;
  }

  &:hover {
    button.copy {
      opacity: 1;
    }

    .lang {
      opacity: 0;
    }
  }
}
